---
---
@import "{{ site.theme }}";

hr {
    margin-bottom:1em;
}

.post-content details {
    background-color: lemonchiffon;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.larger-font {
    font-size:1.5em;
}

.tight-spacing {
    line-height: 1.2;
}

p.call-out {
    padding:1em;
    background-color:whitesmoke;
}

a:hover {
    text-decoration-style:wavy;
}

.animate-bounce-right {
    animation: 1s ease-in-out infinite alternate bounce-right;
}

@keyframes bounce-right {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(1em);
    }