---
---
// @import "{{ site.theme }}";

hr {
    margin-bottom:1em;
}

.post-content details {
    background-color: lemonchiffon;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.larger-font {
    font-size:1.5em;
}

.tight-spacing {
    line-height: 1.2;
}

p.call-out {
    padding:1em;
    background-color:whitesmoke;
}

a:hover {
    text-decoration-style:wavy;
}

a:hover .animate-bounce-right {
    --bounce-distance: .3em;
    --bounce-speed: .3s;
    display: inline-block;
    animation: var(--bounce-speed) ease-in-out infinite alternate bounce-right;
}

.home-sidebar {
    width: 35%;
    float: right;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
    margin-left: 1em;
}

@keyframes bounce-right {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(var(--bounce-distance));
    }
}